@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
body{
    background: #f1f1f1;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
header{
    background: #fff;
    -webkit-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.75);
}
header .social a{
    margin-right: 10px;
    margin-top: 22px;
    color: #000;
    text-decoration: none;
}
header .social a:hover{
    color: #31325e;
}
.navbar-default{
    background: none;
    border: none;
    float: right;
    color: #333333;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a{
    font-size: 16px;
    color: #333333;
    padding:5px 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
    color: #31325e;
    background: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #555555;
    border-bottom: 2px #ccc solid;
}
li.active a {
    border-bottom: 2px #31325E solid;
}
.navbar-nav > li {
    padding: 5px 10px;
}
.navbar-nav > li > a {
    padding: 0px;
}
.navbar {
    min-height: auto;
    margin-top: 20px;
}
@media only screen and (min-width:768px) and (max-width: 9999px)  {
    .quick-contact-slider{
	background: #fff;
        display: inline-block;
	top: -65px;
	position: relative;
        -webkit-box-shadow: 0px -2px 11px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -2px 11px -3px rgba(0,0,0,0.75);
        box-shadow: 0px -2px 11px -3px rgba(0,0,0,0.75);
    }
    .quick-contact-slider .box{
	margin: 5px 0;
	border-right: 1px solid #ccc;
	color: #3d3c3c;
    }
}
@media only screen and (max-width:767px) {
    .quick-contact-slider{
	background: #fff;
        display: inline-block;
	position: relative;
        -webkit-box-shadow: 0px -2px 11px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -2px 11px -3px rgba(0,0,0,0.75);
        box-shadow: 0px -2px 11px -3px rgba(0,0,0,0.75);
    }
    .quick-contact-slider .box{
	margin: 5px 0;
	border-right: 1px solid #fff;
	color: #3d3c3c;
    }
}
.quick-contact-slider .last{
	border: none;
}
.quick-contact-slider .box h3{
	color: #31325e;
	font-weight: 600;
	text-transform: uppercase;
        font-size: 17px;
        margin: 0 0 10px 0;
        padding: 0;
}
.quick-contact-slider .box span{
	padding: 5px 0;
	text-transform: uppercase;
	font-size: 16px;
}
.quick-contact-slider .box a{
	color: #31325e;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
	margin: 9px 0;
}
.be-a-part-of-community{
        padding-bottom: 15px;
}
.be-a-part-of-community h2{
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
}

.be-a-part-of-community h2 span{
	font-weight: bolder;
	color:#31325e;
}

.be-a-part-of-community p{
	font-size: 16px;
	text-align: center;
	margin-top: 30px;
	text-transform: uppercase;
}

.readmore {
	height: 60px;
	width: 230px;
	padding: 20px;
	margin: auto;
	margin-left: auto;
    	margin-right: auto;
	margin-top: 40px;
	text-transform: uppercase;
	background: #31325e;
	color: #fff;
}
.readmore:hover {
	background: #204d74;
	color: #fff;
}

.therapist{
	color: #7c7c7c;
	text-transform: uppercase;
        border-bottom: 1px solid #DEDEDE;
        border-top: 1px solid #DEDEDE;
}

.therapist h2{
	font-size: 20px;
	margin-bottom: 20px;
}

.therapist p{
	line-height: 29px;
}

.therapist a{
	color: #7c7c7c;
	text-decoration: none;
}
@media only screen and (min-width:540px) and (max-width: 9999px)  {
    .be-a-part-of-community h2 span.ipatitle{
    
    }
}
@media only screen and (max-width:539px){
    .be-a-part-of-community h2 span.ipatitle{
        display: block;
    }
}
@media only screen and (max-width:425px){
    .be-a-part-of-community h2 {
        font-size: 20px;
    }
}
section.our-services {
    background: #fff;
    padding: 20px 0;
    border-top: 1px solid #DEDEDE;
}

@media only screen and (min-width:625px) and (max-width: 9999px)  {
    .our-services h2{
	color:#31325e;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
        margin:0px 0px 20px 0px; 
        padding: 0;
        font-size: 24px;
    }
    .our-services h3{
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	margin:0px 0px 20px 0px; 
	padding: 0px;
        font-size: 20px;
    }
}
@media only screen and (max-width:624px){
    .our-services h2 {
	color:#31325e;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
        font-size: 20px;
    }
    .our-services h3{
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	margin:0px;
	padding: 0px;
        font-size: 12px;
    }
}
.our-services a#services-prev,
    .our-services a#services-next {
        background: #31325E;
        color: #fff;
        font-size: 20px;
        padding:10px;
        margin: 0;
    }
.carousel-inner > .item > img { 
    margin: 0 auto;
}
.services-items {
    padding: 5px;
}
.services-items img{
    border:1px solid #ccc;
}
@media only screen and (min-width:768px) and (max-width: 9999px)  {
    .services-caption {
    text-transform: uppercase;
    font-weight: bold;
    background:url(../images/services-caption-bg.png);
    display: inline;
    position: relative;
    top: -50px;
    left: -3px;
    padding: 10px 5px;
    color: #000;
    border-left: #31325E solid 3px;
    }
}
@media only screen and (min-width:768px) and (max-width:994px){
    .services-caption {
    text-transform: uppercase;
    font-weight: bold;
    background:url(../images/services-caption-bg.png);
    display: inline;
    position: relative;
    top: -50px;
    left: -3px;
    padding: 10px 5px;
    color: #000;
    border-left: #31325E solid 3px;
    font-size: 10px;
    }
}
@media only screen and (max-width:767px) {
    .services-caption {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    color: #000;
    display: block;
    text-align: center;
    }
}
.services-caption i {
    margin-left: 10px;
}
.testimonials {
    padding: 20px 0px;
    background: #fff;
}
.feedback-message {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-style: italic;
    color: #898788;
}
.feedback-message span {
    font-size: 14px;
    color: #3d3c3c;
}
.testimonial-bottom {
    background: url(../images/testimonial-bottom.jpg) center top no-repeat;
    display: block;
    width:100%;
    height:68px;
}
section.contact-now {
    background: url(../images/contact-bg.jpg) center top no-repeat;
    display: block;
    width:100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact-now .message {
    color: #fff;
    font-size: 20px;
}
a.cusnow {
    border: 2px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-weight: bold;
}
a.cusnow:hover {
    border: 2px solid #000;
    border-radius: 0px;
    color: #fff;
    font-weight: bold;
}
.footer-top {
    padding: 20px 0;
}
.footer-about {
    font-size: 14px;
    font-weight: bold;
    line-height: 180%;
}
ul.contact-data {
    background: url(../images/contact-map.png) center top no-repeat;
}
ul.contact-data li {
    font-size: 14px;
    padding: 7px 0px;
}
h2.footer-links {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
ul.useful-links li a {
    color: #555555;
    font-size: 15px;
}
ul.useful-links li a:hover {
    color: #204d74;
    text-decoration: none;
}
img.footer-logo {
    width: 38px;
    height: auto;
    float: right;
}
footer {
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
    padding: 20px 0;
    margin-bottom: 10px;
}
#main-slider .carousel-caption {
    font-size: 20px;
    text-align: left;
    left:5%;
    top:50%;
}
.main-caption {
    background:url(../images/main-slider-caption-bg.png);
    display: inline-block;
    padding: 10px;
    font-weight: bold;
}
@media only screen and (max-width:800px) {
    #main-slider .carousel-caption {
    font-size: 12px;
    text-align: left;
    left:5%;
    top:50%;
    }
    .main-caption {
    background:url(../images/main-slider-caption-bg.png);
    display: inline-block;
    padding: 2px;
    font-weight: normal;
    }
}